body{
    background-color: #F0EFFB;
    display:flex;
}

.container{
    background: linear-gradient(#504CAB 75%, #645ED4 100%);
    position:absolute;
    height:1100px;
    width:500px;
}

h1{
    position:absolute;
    left:130px;
    top:50px;
    color: white;
    font-size: 50px;
}

.button1{
    position:absolute;
    background-color: #645ED4;
    color:white;
    height:100px;
    width:400px;
    left:50px;
    border-radius: 50px;
    top:200px;
    font-size: 20px;
    border: None;
}

.button2{
    position:absolute;
    background-color: #645ED4;
    color:white;
    height:100px;
    width:400px;
    left:50px;
    border-radius: 50px;
    top:400px;
    font-size: 20px;
    border: None;
}

.button3{
    position:absolute;
    background-color: #645ED4;
    color:white;
    height:100px;
    width:400px;
    left:50px;
    border-radius: 50px;
    top:600px;
    font-size: 20px;
    border:0px;
}

.button4{
    position:absolute;
    background-color: #645ED4;
    color:white;
    height:100px;
    width:400px;
    left:50px;
    border-radius: 50px;
    border:0px;
    top:800px;
    font-size: 20px;
}
button:hover{
    background-color: #837edd;
    transform: scaleX(1.0);
    transform: scaleY(1.0);
    transition: 1s;
}

button:after{
    background-color: #645ED4;
    transform: scaleX(1.0);
    transform: scaleY(1.0);
    transition: 1s;
}

.search{
    padding:20px;
    position:absolute;
    top:10px;
    left:500px;
}

input[type="search_box"]{
    position:absolute;
    left:60px;
    top:20px;
    height:60px;
    width:400px;
    border-radius: 10px;
}

.wall{
    background-color: #E0DFF6;
    padding:20px;
    position:absolute;
    top:150px;
    left:50px;
    width:1700px;
    height:900px;
    border-radius: 50px;
}

.txt{
   color: #645ED4;
}
.pdsgn{
    color: #A29EE5;
    position: absolute;
    font-size: 30px;
    top:120px;
    left: 130px;
    font-weight: bold;
}

.window{
    background-color:#FFFFFF;
    position:absolute;
    padding:20px;
    height:650px;
    width:1600px;
    border-radius: 20px;
    top:200px;
    left:50px;
}

.Btn1{
    position:absolute;
    width:250px;
    height:75px;
    top:100px;
    background-color: #645ED4;
    color:white;
    border-radius:50px;
    top:500px;
    left:500px;
}

.Btn2{
  position:absolute;
    width:250px;
    height:75px;
    top:100px;
    background-color: #645ED4;
    color:white;
    border-radius:50px;
    top:500px;
    left:800px;
}

img{
    position: absolute;
    width:40px;
    height:40px;
    right:2080px;
    top:60px;
}

.img1{
    position:absolute;
    right:2080px;
    top:45px;
}

.img2{
    position:absolute;
    right:2080px;
    top:445px;
}

.img3{
    position:absolute;
    right:2080px;
    top:645px;
}

.img4{
    position:absolute;
    right:2080px;
    top:245px;
}

.img5{
    position:absolute;
    left:400px;
    top:30px;
}

.bar{
    position:absolute;
    background-color: #504CAB;
    padding:20px;
    height:100px;
    width:1735px;
    border-radius: 25px;
}

.profile{
    position:absolute;
    padding:20px;
    background-color: #645ED4;
    left:100px;
    width:600px;
    height:60px;
    border-radius: 10px;
}

.chart_img{
    position: absolute;
    width:1000px;
    height:600px;
    left:380px;
    top:10px;

}

.meat_btn1{
    position:absolute;
    width:450px;
    height:600px;
    top:20px;
    left:50px;
    border-radius: 20px;
}

.meat_btn2{
    position:absolute;
    width:450px;
    height:600px;
    top:20px;
    left:580px;
    border-radius: 20px;
}

.meat_btn3{
    position:absolute;
    width:450px;
    height:600px;
    top:20px;
    left:1100px;
    border-radius: 20px;
}



