html{
  margin:0;
  height:100%;
  overflow:hidden
}

body{
  background: conic-gradient(#160DAF, #433CC4, #706ADA);
}

.login-container{
  background-color: white !important;
  position:absolute !important;
  width:700px !important;
  height:1040px  !important;
  top:200px !important;
  left:440px !important;
  border-radius: 25px !important;
}

input[type="Text"]{
  width:400px;
  height:60px;
  position: absolute;
  top:280px;
  left:130px;
  border-radius: 10px;
  background-color: #f1f0ff;
}

.User{
  font-size: 20px;
  font-family: sans-serif;
  position: absolute;
  top:240px;
  left:130px;
  color:black;
}

.Pass{
  font-size: 20px;
  font-family: sans-serif;
  position: absolute;
  top:380px;
  left:130px;
}

input[type="password"]{
  width:400px;
  height:60px;
  position: absolute;
  top:420px;
  left:130px;
  border-radius: 10px;
  background-color: #f1f0ff;
}

#error-message {
  position: absolute;
  top: 580px; 
  left: 175px; 
  font-size: 25px;
  color: red;
  text-align: center;
  width: 300px;
}

button{
  position:absolute;
  font-size: 20px;
  width:300px;
  height:70px;
  left:185px;
  top:680px;
  border-radius: 25px;
  background-color: #706ADA;
  color:white;
}

button:hover{
  background-color: #837edd;
    transform: scaleX(1.0);
    transform: scaleY(1.0);
    transition: 0.5s;
}

h1{
position: absolute  !important;
font-size: 50px !important;
top: 70px !important;
left:110px !important;
color:#433CC4 !important;
font-family: sans-serif !important;
}

.NoAcc{
  position: absolute !important;
  top:500px !important;
  left:210px !important;
  font-size: 25px !important;
  color: #706ADA !important;

}

.ForgotPass{
  position: absolute !important;
  top:760px !important;
  left:210px !important;
  font-size: 15px !important;
  color:#706ADA !important;
  font-size: 20px !important;

}

.PlsLogin{
  position: absolute;
  top:130px;
  left:160px;
  font-size: 20px;
  color:#706ADA;
}

.Logo{
  position:absolute;
  top:70px;
  left:1460px;
}

img{
  width:700px;
  height:700px;
}


