html{
  margin:0;
  height:100%;
  overflow:hidden;
}

body{
  background: conic-gradient(#160DAF, #433CC4, #706ADA);
}

.login-container {
  background-color: white !important;
  position: absolute !important;
  width: 850px !important;
  height: 1300px !important;
  top: 80px !important;
  left: 1100px !important;
  border-radius: 25px !important;
}

input[type="text"], input[type="password"]{
  width:500px;
  height:80px;
  position: absolute;
  border-radius: 10px;
  background-color: #f1f0ff;
  font-size: xx-large;
}

.User{
  font-size: 30px;
  font-family: sans-serif;
  position: absolute;
  left:150px;
  top: 230px;
}

.Pass{
  font-size: 30px;
  font-family: sans-serif;
  position: absolute;
  left:150px;
  top:400px;
}

.Pass1{
  font-size: 30px;
  font-family: sans-serif;
  position: absolute;
  left:150px;
  top:560px;
}

input[name="username"]{ top:280px; left:150px; }
input[name="password"]{ top:450px; left:150px; }
input[name="confirm_password"]{ top:610px; left:150px; }

#error-message {
  position: absolute;
  top:720px; 
  left:250px; 
  font-size: 20px;
  color: red;
  text-align: center;
  width: 300px;
}

button{
  position:absolute;
  font-size: 20px;
  width:320px;
  height:70px;
  left:250px;
  top: 860px;
  border-radius: 25px;
  background-color: #706ADA;
  color:white;
  cursor: pointer;
  transition:1s;
}

button:hover{
  background-color: #837edd;
  transform: scaleX(1.0);
  transform: scaleY(1.0);
  transition: 0.5s;
}

h1{
  position: absolute;
  font-size: 50px;
  top:60px;
  left:90px;
  color:#706ADA !important; 
}

.PlsLogin{
  position: absolute;
  top:130px;
  left:130px;
  font-size: 20px;
  color: #433CC4 !important;
}

.NoAcc{
  position: absolute;
  top:780px;
  left:215px;
  font-size: 25px;
  color:#706ADA !important;
}

.Logo{
  position:absolute;
  top:90px;
  left:960px;
}

img{
  width:700px;
  height:700px;
}
