<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/example.css')}}">
    <title>Vegetables Page</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='JS/dash.js') }}"></script>
    <div class="container">
        <img src="{{url_for('static', filename='IMAGES/OFFICIAL_PRILYTHIC_LOGO.png')}}" alt="Prilythic-logo" class="ds_logo">
        <br>
        <button onclick="window.location.href='{{url_for('dashboard')}}'" class="DSbutton1">Dashboard</button>
        <button onclick="window.location.href='{{url_for('categories')}}'" class="DSbutton2">Categories</button>
        <button onclick="window.location.href='{{url_for('settings')}}'" class="DSbutton3">Settings</button>
        <button onclick="window.location.href='{{url_for('logout')}}'" class="DSbutton4">Logout</button>
    </div>
    <div class="search">
        <input type="search_box" class="search" placeholder="Search...">
        <img src="{{url_for('static', filename='IMAGES/Search_icon.png')}}" alt="search icon" class="search-icn">
        <h1 class="dstxt">Category</h1>
    </div>
    <div class="wall_categories">
    </div>
    <div class="wall_categories2">
    <div class="profile">
        <h1 class="profile_name">Welcome to Prilythic, User!</h1>
            <h1 class="profile_icon"></h1>
        </div>
    </div>

    <div class="category_select">
         <h1 class="wall_txt">Vegetable</h1>
        <p class="p_txt">Select multiple products to choose from </p>

        <div class="category_choices">
            <button class="category_btn1" onclick="window.location.href='{{url_for('potatoes')}}'">Potatoes</button>
            <button class="category_btn2" onclick="window.location.href='{{url_for('beans')}}'">Beans</button>
            <button class="category_btn3" onclick="window.location.href='{{url_for('cabbage')}}'">Cabbage</button>
            <button class="category_btn4" onclick="window.location.href='{{url_for('carrots')}}'">Carrots</button>
            <button class="category_btn5" onclick="window.location.href='{{url_for('tomatoes')}}'">Tomatoes</button>
    </div>
</body>
</html>